<br/>
<br/>


<div class="jumbo">

 <h1 class="head-new heading" style="color:red">About Us</h1>
 <p style="font-size:15px">
  RapidClaim General Insurance Company Ltd. is a Joint Venture between Rapidqube Group and Mitsui Sumitomo Insurance Group of Japan.
 </p>
<p style="font-size:15px">
  RapidClaim offers a wide range of products that include Accident, Engineering, Health, Liability, Marine, Motor, Property, Travel and Rural insurance for individuals and corporate.
  The company champions a brand philosophy of T3 – Trust, Transparency and Technology.
 
 </p>
</div>
