<br/>
<br/>
 <div class="jumbo">
  <div class="right tomster"></div>
 
 
 
        <!-- <h1 class="heading"><img src="images/head_contactus.gif" alt="Contact Us" title="Contact Us" /></h1> -->
		<h1 class="head-new heading"  style="color:red">Contact Us</h1>
        <p style="padding-bottom:15px;font-size:14px">At Rapidclaim General Insurance, we would be happy to hear from you. Should you have any queries, suggestions or business enquiries, please contact us using the form given below. Do note that you can use the form to contact us regarding claim status records, job opportunities and more.</p>
	<!--	<p class="color666 fz" style="padding-bottom:5px;"><font color="red">*</font> fields are mandatory</p>-->
		<div class="w1">
			<div class="frm-lft">
				<p style="font-size:18px"><strong>Registered Address</strong></p>
				<p><b>Rapidclaim MS,<br>General Insurance<br>Company Ltd</b>,<br>2nd Floor, "Dare House", <br>No.2, NSC Bose Road,<br>Chennai - 600001, India.</p>
				<p style="padding-bottom:5px"><b>Phone:</b> 044-3044 5400<br><b>Fax no:</b> 044-3044 5550</p>
				<p style="padding-bottom:5px"><b>Customers from abroad can call at:</b> +91 44 3098 5300.</p>
			
				<p style="padding-bottom:5px"><b>E-MAIL ID :</b> <a href="mailto:rapidclaim@rapidclaim.com">customercare@cholams.murugappa.com</a></p>
			</div>
			<div class="frm-rgt">
		<!--		<table class="formtable clear" style="width:245px" cellspacing="0" cellpadding="0" border="0" align="right">
				 
				  <tbody><tr>
					<td width="125"><strong>First Name</strong><font color="red">*</font></td>
					<td width="193">
					<input name="fname" value="First Name" maxlength="30" id="fname" class="input_bg width190" onfocus="if(this.value=='First Name')this.value=''; " onblur="if(trimSpace(this.value)=='')this.value='First Name';else{}" type="text"></td>                            
				  </tr>
				  <tr>
					 <td>&nbsp;</td>
					 <td><div class="alert" id="FName_errmsg">(Please enter your First Name)</div></td>
				 </tr>
				  <tr>
					<td colspan="2" height="5"></td>
				  </tr>
				  <tr>
					<td><strong>Last Name</strong><font color="red">*</font></td>
					<td>
						<input name="lname" value="Last Name" maxlength="30" id="lname" class="input_bg width190" onfocus="if(this.value=='Last Name')this.value=''; return FName_validate(0); " onblur="if(trimSpace(this.value)=='')this.value='Last Name';else{}" type="text"></td>
				  </tr>
				  <tr>
					 <td>&nbsp;</td>
					 <td><div class="alert" id="LName_errmsg"></div></td>
				 </tr>
				  <tr>
					<td colspan="2" height="5"></td>
				  </tr>
				  <tr>
					<td><strong>Telephone/ Mobile</strong> <font color="red">*</font></td>
					<td>
						<input name="tele_mobile" value="Telephone / Mobile" maxlength="14" id="tele_mobile" class="input_bg width190" onfocus="if(this.value=='Telephone / Mobile')this.value=''; return LName_validate(0); " onblur="if(trimSpace(this.value)=='')this.value='Telephone / Mobile';else{}" type="text"></td>
				  </tr>
				  <tr>
					 <td>&nbsp;</td>
					 <td><div class="alert" id="Tele_Mobile_errmsg"></div></td>
				 </tr>
				  <tr>
					<td colspan="2" height="5"></td>
				  </tr>
				  <tr>
					<td><strong>E-mail ID</strong><font color="red">*</font></td>
					<td>
						<input name="email" value="E-mail ID" maxlength="50" id="email" class="input_bg width190" onfocus="if(this.value=='E-mail ID')this.value=''; return Tele_Mobile_validate(0); " onblur="if(trimSpace(this.value)=='')this.value='E-mail ID';else{}" type="text"></td>
				  </tr>          
				  <tr>
					 <td>&nbsp;</td>
					 <td><div class="alert" id="Email_errmsg"></div></td>
				 </tr>
				  <tr>
					<td colspan="2" height="5"></td>
 				  </tr>
<tr>
					<td><strong>Purpose</strong><font color="red">*</font></td>
					<td><div><select name="purpose" id="purpose" class="selectbox_big width192 optwidth" onfocus="return Email_validate(0);" style="width:161px !important">
	<option value="10">Please select</option>
	<option value="1">To get details of a Rapidclaim policy</option>
	<option value="2">To purchase a new Rapidclaim policy</option>
	<option value="3">Renewal / Extension of an existing Rapidclaim policy</option>
	<option value="4">Modifications in the existing Rapidclaim policy</option>
	<option value="5">To file a claim</option>
	<option value="6">To track the status of a claim filed already</option>
	<option value="7">To join Rapidclaim as an agent</option>
	<option value="11">Do not call</option>
	<option value="12">Register a Complaint</option>
	<option value="13">To create eInsurance Account</option>
	<option value="9">Others</option>

</select></div></td>
				  </tr>
				  <tr>
					 <td>&nbsp;</td>
					 <td><div class="alert" id="Purpose_errmsg"></div></td>
				 </tr>
<tr>
					<td colspan="2" height="5"></td>
				  </tr>
<tr>
					<td><strong>Aadhar No</strong></td>
					<td>
						<input name="aadharno" value="Aadhar No" maxlength="12" id="aadharno" class="input_bg width190" onfocus="if(this.value=='Aadhar No')this.value='';return aadharno_Validate(0);" onblur="if(trimSpace(this.value)=='')this.value='Aadhar No';else{}" type="text"></td>
				  </tr> 
<tr>
					 <td>&nbsp;</td>
					 <td><div class="alert" id="aadharno_errmsg"></div></td>
				 </tr>         
				  
				  
<tr>
					<td colspan="2" height="15"></td>
				  </tr>
				  
				  <tr>
					<td colspan="2" height="5"></td>
				  </tr>
				  <tr>
					<td><strong>Additional Message</strong><font color="red">*</font></td>
					<td>
						<textarea name="additional_msg" rows="2" cols="20" id="additional_msg" class="addl-msg width192" onfocus="if(this.value=='Additional Message')this.value=''; return Purpose_validate(0); " onblur="if(trimSpace(this.value)=='')this.value='Additional Message';else{}" style="resize:none;">Additional Message</textarea></td>
				  </tr>
				  <tr>
					 <td>&nbsp;</td>
					 <td><div class="alert" id="Additional_Msg_errmsg"></div></td>
				 </tr>
				 <tr>
					<td colspan="2" height="5"></td>
				  </tr>
				  

				  <tr>
					<td colspan="2" height="5"></td>
				  </tr>
				  <tr>
					<td>&nbsp;</td>
					<td>
						<span id="lblerr" class="alert"></span>
					  </td>
				  </tr>
				</tbody></table>-->
			</div><div class="clear"></div>
		<p class="frmbtn"><input name="btnSUBMIT" value="" onclick="return contactusvalidate(1);" id="btnSUBMIT" title="Submit" class="btnsubmit" type="submit">&nbsp;&nbsp;<input name="btnCANCEL" value="" onclick="return contactusreset();" id="btnCANCEL" title="Cancel" class="btncancel" type="submit"></p>	
		</div><div class="clear"></div>
		
     

</div>