<br/>
<br/>
<br/>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <img src="assets/image/m2.gif" width="500" height="300" />
    </div>
    <div class="col-sm-4"></div>
</div>
