<div class="container-fluid login_bg mt20" style="height:5px">
   <div class="container">
      <footer class="navbar-fixed-bottom navbar-inverse">
         <div class="row">
              <!-- <ul class="nav navbar-nav">
                     <li role="presentation">Help?</li>
                     <li role="presentation">Help?</li>
               </ul>-->    
               <p style="color:white">
  <span>{{#link-to 'faqs'}}FAQs{{/link-to}}  &nbsp;</span>&nbsp;&nbsp;
  <span>&nbsp;{{#link-to 'about'}}About{{/link-to}}   &nbsp;</span>&nbsp;&nbsp;
  <span>&nbsp;{{#link-to 'contact'}}Contact Us{{/link-to}}   &nbsp;</span>&nbsp;&nbsp;
  
</p> 
           
         </div>
 
   <!--<div class="col-sm-4  center-align navbar-text">
   <p class="text-muted">Copyright &copy; 2017 RapidQube</p>  
   </div>-->
   <!--  <div class="row" style="text-align:center">
           <p class="text-muted" style="text-align:center">Copyright &copy; 2017 RapidQube</p>  
     </div>-->
  
</footer>
</div>
</div>