<br/>
<br/>
<br/>
<br/>

<!--<div style="margin-left:10px;margin-right:10px;margin-top:20px">
<div class="row">
    <div class="col-sm-6">
        <img src="assets/image/m2.gif" width="500" height="300" />
    </div>
    <div class="col-sm-6">
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
    </div>
    <div class="col-sm-6">
        <img src="assets/image/m8.gif" width="500" height="300" />
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <img src="assets/image/m9.gif" width="500" height="300" />
    </div>
    <div class="col-sm-6">
    </div>
</div
<br/>
<br/>
</div>--><!--
<div class="row">
    <div class="col-sm-4"></div> 
    <div class="col-sm-4">
       &nbsp; <img src="assets/image/m5.gif" width="200" height="200" backgroud="white" />
    </div>
</div>
-->
<!--<div class="home-container">
    <div class="row">
<h1 id="home-heading" style="color:brown;text-align:center"><b> R-Online-Claims</b></h1>
<br/>
<br/>
  <!-- <div class="row" style="margin-left:50px;margin-right:50px"> 
        <div class="col-sm-4">
       <img  src="assets/image/a5.png" width="200" height="200">
       <br/>
         <br/>
       <span style="color:red"><b>File a Claim</b></span>
       </div>
       <div class="col-sm-4">
       <img  src="assets/image/a6.png" width="200" height="200" style="background:white">
       <br/>
         <br/>
       <span style="color:red"><b>Track a Claim</b></span>
       </div>
       <div class="col-sm-4">
       <img  src="assets/image/a7.png" width="200" height="200" style="background:white">
       <br/>
         <br/>
       <span style="color:red"><b>Roadside Assistance</b></span>
       </div>
      
     
   
    </div>-->
  
    <!--<div class="row">
       <div class="col-sm-4">
       <img class="img-circle" src="assets/image/m5.gif" width="300" height="300">
       </div>
    </div>
</div>-->