<div class="row"></div>
<div class="stepwizard">
   
    <div class="stepwizard-row">
        <br/>
        <br/>
      
        <div class="stepwizard-step">
            <button type="button" class="btn btn-success one-dash-btn-circle" disabled="disabled">1</button>
            <p>Notified</p>
            
        </div>
      
        <div class="stepwizard-step">
            <button type="button" class="btn btn-primary two-dash-btn-circle">2</button>
            <p>Submitted</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-success one-dash-btn-circle" disabled="disabled">1</button>
            <p>Examined</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-primary two-dash-btn-circle">6</button>
            <p>Validated</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-success one-dash-btn-circle" disabled="disabled">0</button>
            <p>Rejected</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-primary two-dash-btn-circle">0</button>
            <p>Resubmitted</p>
        </div>
         <div class="stepwizard-step">
            <button type="button" class="btn btn-success one-dash-btn-circle" disabled="disabled">4</button>
            <p>Approved</p>
        </div>
            <div class="stepwizard-step">
            <button type="button" class="btn btn-primary two-dash-btn-circle">5</button>
            <p>Setteled</p>
        </div>
    </div>
</div>
